<%= simple_form_for(@drug) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :laboratory %>
      <%= f.input :reference %>
      <%= f.input :presentation %>
      <%= f.input :use %>
      <%= f.input :composition %>
      <%= f.input :indication %>
      <%= f.input :contraindication %>
      <%= f.input :warning %>
      <%= f.input :interaction %>
      <%= f.input :effect %>
      <%= f.input :dosage %>
      <%= f.input :overdosage %>
      <%= f.input :properties %>
      <%= f.input :species %>
  </div>
  <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
