<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @drug.name %>
</p>

<p>
  <strong>Laboratory:</strong>
  <%= @drug.laboratory %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @drug.reference %>
</p>

<p>
  <strong>Presentation:</strong>
  <%= @drug.presentation %>
</p>

<p>
  <strong>Use:</strong>
  <%= @drug.use %>
</p>

<p>
  <strong>Composition:</strong>
  <%= @drug.composition %>
</p>

<p>
  <strong>Indication:</strong>
  <%= @drug.indication %>
</p>

<p>
  <strong>Contraindication:</strong>
  <%= @drug.contraindication %>
</p>

<p>
  <strong>Warning:</strong>
  <%= @drug.warning %>
</p>

<p>
  <strong>Interaction:</strong>
  <%= @drug.interaction %>
</p>

<p>
  <strong>Effect:</strong>
  <%= @drug.effect %>
</p>

<p>
  <strong>Dosage:</strong>
  <%= @drug.dosage %>
</p>

<p>
  <strong>Overdosage:</strong>
  <%= @drug.overdosage %>
</p>

<p>
  <strong>Properties:</strong>
  <%= @drug.properties %>
</p>

<p>
  <strong>Species:</strong>
  <%= @drug.species %>
</p>

<%= link_to 'Edit', edit_drug_path(@drug) %> |
<%= link_to 'Back', drugs_path %>
