<% breadcrumb :drug, @drug %>
<div class="page-header">
  <%= link_to drugs_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <% end %>
  <%= link_to edit_drug_path(@drug), class: 'btn btn-primary' do %>
    <span class="fa fa-pencil"></span>
    <%= I18n.t('crud.edit') %>
  <% end %>
  <h3><%= I18n.t('crud.showing') %></h3>
</div>

<dl class="dl-horizontal">
  <dt><%= Drug.human_attribute_name(:name)%></dt>
  <dd><%= @drug.name %></dd>

  <dt><%= Drug.human_attribute_name(:laboratory)%></dt>
  <dd><%= @drug.laboratory %></dd>

  <dt><%= Drug.human_attribute_name(:reference)%></dt>
  <dd><%= @drug.reference %></dd>

  <dt><%= Drug.human_attribute_name(:presentation)%></dt>
  <dd><%= @drug.presentation %></dd>

  <dt><%= Drug.human_attribute_name(:use)%></dt>
  <dd><%= @drug.use %></dd>

  <dt><%= Drug.human_attribute_name(:composition)%></dt>
  <dd><%= @drug.composition %></dd>

  <dt><%= Drug.human_attribute_name(:indication)%></dt>
  <dd><%= @drug.indication %></dd>

  <dt><%= Drug.human_attribute_name(:contraindication)%></dt>
  <dd><%= @drug.contraindication %></dd>

  <dt><%= Drug.human_attribute_name(:warning)%></dt>
  <dd><%= @drug.warning %></dd>

  <dt><%= Drug.human_attribute_name(:interaction)%></dt>
  <dd><%= @drug.interaction %></dd>

  <dt><%= Drug.human_attribute_name(:effect)%></dt>
  <dd><%= @drug.effect %></dd>

  <dt><%= Drug.human_attribute_name(:dosage)%></dt>
  <dd><%= @drug.dosage %></dd>

  <dt><%= Drug.human_attribute_name(:overdosage)%></dt>
  <dd><%= @drug.overdosage %></dd>

  <dt><%= Drug.human_attribute_name(:properties)%></dt>
  <dd><%= @drug.properties %></dd>

  <dt><%= Drug.human_attribute_name(:species)%></dt>
  <dd><%= @drug.species %></dd>

</dl>
