<%= simple_form_for(@service) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :provider %>
    <%= f.input :goal %>
    <%= f.input :user_id, as: :hidden, value: current_user.id %>
    <%= f.association :property, collection: Property.where(user_id: current_user.id) , allow_blank: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
