<div class="page-header">
  <%= link_to bins_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <% end %>
  <%= link_to edit_bin_path(@bin), class: 'btn btn-primary' do %>
    <span class="fa fa-pencil"></span>
    <%= I18n.t('crud.edit') %>
  <% end %>
  
  <%= link_to new_bin_path, class: 'btn btn-primary' do %>
    <span class="fa fa-plus"></span>
    <%= I18n.t('crud.new') %>
  <% end %>
  <h3><%= I18n.t('crud.show') %> <%= Bin.human_attribute_name(:bin)%></h3>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <ul class="list-group">
    <li class="list-group-item">
      <strong><%=Bin.human_attribute_name(:capacity)%></strong>
      <%= number_to_currency(@bin.capacity, unit: "M³", separator: ",", delimiter: ".", format: "%n %u") %>
    </li>
    <li class="list-group-item">
      <strong><%=Bin.human_attribute_name(:property)%></strong>
      <%= @bin.property.name %>
    </li>
    <li class="list-group-item">
      <strong><%=Bin.human_attribute_name(:kind)%></strong>
      <%= @bin.kind %>
    </li>
  </ul>
</div>
