<div class="page-header">
  <%= link_to new_treatment_path(illness_id: @illness.id), class: 'btn btn-primary pull-right', remote: true do %>
    <span class="fa fa-plus"></span>
    <%= I18n.t('treatments.new.new') %>
  <% end %>
  <h3><%= Treatment.human_attribute_name(:treatments)%></h3>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
            <th><%= Treatment.human_attribute_name(:startdate)%></th>
            <th><%= Treatment.human_attribute_name(:enddate)%></th>
            <th><%= Treatment.human_attribute_name(:dosage)%></th>
            <th><%= Treatment.human_attribute_name(:lack)%></th>
            <th><%= Treatment.human_attribute_name(:observation)%></th>
            <th><%= Treatment.human_attribute_name(:drug)%></th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @treatments) do |treatment| %>
            <td><%= treatment.startdate %></td>
            <td><%= treatment.enddate %></td>
            <td><%= treatment.dosage %></td>
            <td><%= treatment.lack %></td>
            <td><%= treatment.observation %></td>
            <td><%= treatment.drug.name %></td>
            <td>
          <%= link_to treatment, class: 'btn btn-sm btn-primary',remote: true do %>
            <i class="fa fa-eye"></i> <%= I18n.t('crud.show') %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_treatment_path(treatment), class: 'btn btn-sm btn-default',remote: true do %>
            <i class="fa fa-pencil"></i> <%= I18n.t('crud.edit') %>
          <% end %>
        </td>
        <td>
          <%= link_to treatment, method: :delete, data: { confirm: I18n.t('crud.destroy_confirmation') }, class: 'btn btn-sm btn-danger',remote: true do %>    
            <i class="fa fa-trash"></i> <%= I18n.t('crud.delete') %>
          <% end %>      
        </td>
      <% end %>
    </tbody>
  </table>
</div>
<br>
