<% breadcrumb :treatments %>
<div class="page-header">
  <%= link_to new_treatment_path, class: 'btn btn-primary' do %>
    <span class="fa fa-plus"></span>
    <%= Novo registro %>
  <% end %>
  <h3><%= Treatment.human_attribute_name(:treatments)%></h3>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Dosage</th>
            <th>Lack</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @treatments) do |treatment| %>
            <td><%= treatment.startdate %></td>
            <td><%= treatment.enddate %></td>
            <td><%= treatment.dosage %></td>
            <td><%= treatment.lack %></td>
            <td>
          <%= link_to treatment, class: 'btn btn-sm btn-primary' do %>
            <i class="fa fa-eye"></i> <%= Mostrar %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_treatment_path(treatment), class: 'btn btn-sm btn-default' do %>
            <i class="fa fa-pencil"></i> <%= Editar %>
          <% end %>
        </td>
        <td>
          <%= link_to treatment, method: :delete, data: { confirm: I18n.t('crud.destroy_confirmation') }, class: 'btn btn-sm btn-danger' do %>    
            <i class="fa fa-trash"></i> <%= Excluir %>
          <% end %>      
        </td>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @treatments %>
<br>
