<div class="page-header">
  <%= link_to new_treatment_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Treatment
  <% end %>
  <h1>Listing treatments</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Dosage</th>
            <th>Lack</th>
            <th>Illness</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @treatments) do |treatment| %>
            <td><%= treatment.StartDate %></td>
            <td><%= treatment.EndDate %></td>
            <td><%= treatment.dosage %></td>
            <td><%= treatment.lack %></td>
            <td><%= treatment.illness %></td>
            <td><%= link_to 'Show', treatment %></td>
        <td><%= link_to 'Edit', edit_treatment_path(treatment) %></td>
        <td><%= link_to 'Destroy', treatment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
