<div class="page-header">
  <%= link_to treatments_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <% end %>
  <%= link_to edit_treatment_path(@treatment), class: 'btn btn-primary' do %>
    <span class="fa fa-pencil"></span>
    <%= I18n.t('crud.edit') %>
  <% end %>
  <h3><%= I18n.t('crud.show') %> treatment</h3>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Startdate:</strong>
      <%= @treatment.startdate %>
    </li>
    <li class="list-group-item">
      <strong>Enddate:</strong>
      <%= @treatment.enddate %>
    </li>
    <li class="list-group-item">
      <strong>Dosage:</strong>
      <%= @treatment.dosage %>
    </li>
    <li class="list-group-item">
      <strong>Lack:</strong>
      <%= @treatment.lack %>
    </li>
    <li class="list-group-item">
      <strong>Observation:</strong>
      <%= @treatment.observation %>
    </li>
    <li class="list-group-item">
      <strong>Disease:</strong>
      <%= @treatment.disease %>
    </li>
    <li class="list-group-item">
      <strong>Drug:</strong>
      <%= @treatment.drug %>
    </li>
  </ul>
</div>
