<div class="page-header">
  <%= link_to treatments_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_treatment_path(@treatment), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show treatment</h1>
</div>

<dl class="dl-horizontal">
  <dt>Startdate:</dt>
  <dd><%= @treatment.StartDate %></dd>

  <dt>Enddate:</dt>
  <dd><%= @treatment.EndDate %></dd>

  <dt>Dosage:</dt>
  <dd><%= @treatment.dosage %></dd>

  <dt>Lack:</dt>
  <dd><%= @treatment.lack %></dd>

  <dt>Illness:</dt>
  <dd><%= @treatment.illness %></dd>

</dl>
