<% breadcrumb :profile, @profile %>
<p>
  <strong><%= Profile.human_attribute_name(:name)%></strong>
  <%= @profile.name %>
</p>

<p>
  <strong><%= Profile.human_attribute_name(:description)%></strong>
  <%= @profile.description %>
</p>
<br>
<%= link_to I18n.t('crud.edit'), edit_profile_path(@profile), class: "btn btn-sm btn-default" %>
<%= link_to I18n.t('crud.back'), :back, class: "btn btn-sm btn-default" %>
