<div class="page-header">
  <%= link_to illnesses_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= Voltar %>
  <% end %>
  <%= link_to @illness, class: 'btn btn-primary' do %>
    <span class="fa fa-eye"></span>
    <%= Mostrar %>
  <% end %>
  <h3> <%= Editando %> illness</h3>
</div>

<%= render 'form' %>
