<div class="page-header">
  <%= link_to new_illness_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Illness
  <% end %>
  <h1>Listing illnesses</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Startdate</th>
            <th>Enddate</th>
            <th>Sequel</th>
            <th>Animal</th>
            <th>Disease</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @illnesses) do |illness| %>
            <td><%= illness.StartDate %></td>
            <td><%= illness.EndDate %></td>
            <td><%= illness.sequel %></td>
            <td><%= illness.animal %></td>
            <td><%= illness.disease %></td>
            <td><%= link_to 'Show', illness %></td>
        <td><%= link_to 'Edit', edit_illness_path(illness) %></td>
        <td><%= link_to 'Destroy', illness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
