<p id="notice"><%= notice %></p>

<h1>Listing Illnesses</h1>

<table>
  <thead>
    <tr>
      <th>Startdate</th>
      <th>Enddate</th>
      <th>Sequel</th>
      <th>Animal</th>
      <th>Disease</th>
      <th>Treatment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @illnesses.each do |illness| %>
      <tr>
        <td><%= illness.StartDate %></td>
        <td><%= illness.EndDate %></td>
        <td><%= illness.sequel %></td>
        <td><%= illness.animal %></td>
        <td><%= illness.disease %></td>
        <td><%= illness.treatment %></td>
        <td><%= link_to 'Show', illness %></td>
        <td><%= link_to 'Edit', edit_illness_path(illness) %></td>
        <td><%= link_to 'Destroy', illness, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Illness', new_illness_path %>
