<div class="page-header">
  <%= link_to illnesses_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_illness_path(@illness), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show illness</h1>
</div>

<dl class="dl-horizontal">
  <dt>Startdate:</dt>
  <dd><%= @illness.StartDate %></dd>

  <dt>Enddate:</dt>
  <dd><%= @illness.EndDate %></dd>

  <dt>Sequel:</dt>
  <dd><%= @illness.sequel %></dd>

  <dt>Animal:</dt>
  <dd><%= @illness.animal %></dd>

  <dt>Disease:</dt>
  <dd><%= @illness.disease %></dd>

</dl>
