<div class="page-header">
  <%= link_to illnesses_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <% end %>
  <%= link_to edit_illness_path(@illness), class: 'btn btn-primary' do %>
    <span class="fa fa-pencil"></span>
    <%= I18n.t('crud.edit') %>
  <% end %>
  <h3><%= I18n.t('crud.show') %> illness</h3>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Startdate:</strong>
      <%= @illness.startdate %>
    </li>
    <li class="list-group-item">
      <strong>Enddate:</strong>
      <%= @illness.enddate %>
    </li>
    <li class="list-group-item">
      <strong>Sequel:</strong>
      <%= @illness.sequel %>
    </li>
    <li class="list-group-item">
      <strong>Animal:</strong>
      <%= @illness.animal %>
    </li>
    <li class="list-group-item">
      <strong>Disease:</strong>
      <%= @illness.disease %>
    </li>
    <li class="list-group-item">
      <strong>Treatment:</strong>
      <%= @illness.treatment %>
    </li>
  </ul>
</div>
