<p id="notice"><%= notice %></p>

<h1>Listing Funcionalities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Modulo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @funcionalities.each do |funcionality| %>
      <tr>
        <td><%= funcionality.name %></td>
        <td><%= funcionality.description %></td>
        <td><%= funcionality.modulo.name %></td>
        <td><%= link_to 'Show', funcionality %></td>
        <td><%= link_to 'Edit', edit_funcionality_path(funcionality) %></td>
        <td><%= link_to 'Destroy', funcionality, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Funcionality', new_funcionality_path %>
