<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @funcionality.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @funcionality.description %>
</p>

<p>
  <strong>Modulo:</strong>
  <%= @funcionality.modulo.name %>
</p>

<%= link_to 'Edit', edit_funcionality_path(@funcionality) %> |
<%= link_to 'Back', funcionalities_path %>
