<p>
  <strong><%= Modulo.human_attribute_name(:name)%></strong>
  <%= @modulo.name %>
</p>

<p>
  <strong><%= Modulo.human_attribute_name(:description)%></strong>
  <%= @modulo.description %>
</p>
<br>
<%= link_to I18n.t('crud.edit'), edit_modulo_path(@modulo), class: "btn btn-sm btn-default" %>
<%= link_to I18n.t('crud.back'), :back, class: "btn btn-sm btn-default" %>
