<div class="page-header">
  <%= link_to stocks_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <% end %>
  <%= link_to @stock, class: 'btn btn-primary' do %>
    <span class="fa fa-eye"></span>
    <%= I18n.t('crud.show') %>
  <% end %>
  <h3> <%= I18n.t('crud.editing') %> stock</h3>
</div>

<%= render 'form' %>
