<div class="page-header">
  <%= link_to stocks_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <% end %>
  <% if @stock.inactive? %>
    <%= link_to edit_stock_path(@stock), class: 'btn btn-primary' do %>
      <span class="fa fa-pencil"></span>
      <%= I18n.t('crud.edit') %>
    <% end %>
  <% end %>
  <h3><%= I18n.t('crud.show') %> <%= Stock.human_attribute_name(:stock)%></h3>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <ul class="list-group">
    <li class="list-group-item">
      <strong><%= Stock.human_attribute_name(:bin)%></strong>
      <%= @stock.bin.nil? ? "" : @stock.bin.name %>
    </li>
    <li class="list-group-item">
      <strong><%= Stock.human_attribute_name(:feed)%></strong>
      <%= @stock.feed.name %>
    </li>
    <li class="list-group-item">
      <strong><%= Stock.human_attribute_name(:amount)%></strong>
      <%= number_to_currency(@stock.amount, unit: "T", separator: ",", delimiter: ".", format: "%n %u") %>
    </li>
    <li class="list-group-item">
      <strong><%= Stock.human_attribute_name(:density)%></strong>
      <%= number_to_currency(@stock.density, unit: "Kg/M³", separator: ",", delimiter: ".", format: "%n %u") %>
    </li>
    <li class="list-group-item">
      <strong><%= Stock.human_attribute_name(:datestock)%></strong>
      <%= @stock.datestock %>
    </li>
    <li class="list-group-item">
      <strong><%= Stock.human_attribute_name(:datestart)%></strong>
      <%= @stock.datestart %>
    </li>
    <li class="list-group-item">
      <strong><%= Stock.human_attribute_name(:dateend)%></strong>
      <%= @stock.dateend %>
    </li>
    <li class="list-group-item">
      <strong><%= Stock.human_attribute_name(:fournisseur)%></strong>
      <%= @stock.fournisseur %>
    </li>
    <% if @stock.dateend.nil? %>
      <li class="list-group-item">
        <strong><%= Stock.human_attribute_name(:spent)%></strong>
        <%= @stock.spent.round(2) %>
      </li>
    <% end %>
    <% if @stock.dateend.nil? %>
      <li class="list-group-item">
        <strong><%= Stock.human_attribute_name(:spent_kg)%></strong>
        <%= number_to_currency(@stock.spent_kg[0] , unit: @stock.spent_kg[1], separator: ",", delimiter: ".", format: "%n %u") %>
      </li>
    <% end %>
    <% if @stock.dateend.nil? %>
      <li class="list-group-item">
        <strong><%= Stock.human_attribute_name(:estimativa)%></strong>
        <%= @stock.estimativa %> dias
      </li>
    <% end %>
  </ul>
</div>
<div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      <%= Financial.human_attribute_name(:financials)%>
    </div>
    <div class="panel-body" id="financials">
      <%= render partial: 'financials/financials', locals: {id: @stock.id, financials: @financials} %>
    </div>
  </div>
</div>
