<%= simple_form_for(@property) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :long %>
    <%= f.input :lat %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%# f.input :user_id, input_html: {value: f.object.user_id || current_user.id} %>

  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
<br>
