<% breadcrumb :property, @property %>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <ul class="list-group">
      <li class="list-group-item">
		  <strong><%= Profile.human_attribute_name(:name)%></strong>
		  <%= @property.name %>
      </li>
      <li class="list-group-item">
        <strong><%= Profile.human_attribute_name(:description)%></strong>
  		<%= @property.description %>
      </li>
      <li class="list-group-item">
		  <strong><%= Profile.human_attribute_name(:long)%></strong>
		  <%= @property.long %>
      </li>
      <li class="list-group-item">
		  <strong><%= Profile.human_attribute_name(:lat)%></strong>
		  <%= @property.lat %>
      </li>
      <li class="list-group-item">
		  <strong><%= Profile.human_attribute_name(:area)%></strong>
		  <%= @property.lat %>
      </li>
      <li class="list-group-item">
        <strong><%= Profile.human_attribute_name(:altitude)%></strong>
        <%= @property.altitude %>
      </li>
      <li class="list-group-item">
        <strong><%= Profile.human_attribute_name(:precipitation)%></strong>
        <%= @property.precipitation %>
      </li>
      <li class="list-group-item">
        <strong><%= Profile.human_attribute_name(:enrolement_of_sanity)%></strong>
        <%= @property.enrolement_of_sanity %>
      </li>
      <li class="list-group-item">
        <strong><%= Profile.human_attribute_name(:nirf)%></strong>
        <%= @property.nirf %>
      </li>
      <li class="list-group-item">
        <strong><%= Profile.human_attribute_name(:incra)%></strong>
        <%= @property.incra %>
      </li>
      <li class="list-group-item">
        <strong><%= Profile.human_attribute_name(:state_registration)%></strong>
        <%= @property.state_registration %>
      </li>
      <li class="list-group-item">
        <strong><%= Profile.human_attribute_name(:manager)%></strong>
        <%= @property.manager %>
      </li>
      <li class="list-group-item">
        <%= link_to I18n.t('crud.edit'), edit_property_path(@property), class: "btn btn-default btn-sm" %>
        <%= link_to I18n.t('crud.back'), :back, class: "btn btn-default btn-sm" %>
      </li>
    </ul>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
      <div class="btn-group" role="group" aria-label="...">
        <%= link_to I18n.t('properties.show.glebe'), property_glebes_path(id: @property.id), class: 'btn btn-default', remote: true  %>
      </div>
    </div>
    <div id="glebes_show">

    </div>
</div>
   