<%= simple_form_for(@schedule) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :event %>
    <%= f.association :batch %>
    <%= f.input :datestart, as: :date_picker %>
    <%= f.input :dateend, as: :date_picker %>
    <%= f.input :observation %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
