<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="table-responsive">
		<table class="table table-striped table-hover table-condensed">
			<tr>
				<td><%= Production.human_attribute_name(:amount)%></td>
				<td><%= Production.human_attribute_name(:measurement)%></td>
				<td><%= Production.human_attribute_name(:observation)%></td>
			</tr>
			<tr>
			    <% @productions.each do |p| %>
					<td><%= p.amount %></td>
					<td><%= p.measurement %></td>
					<td><%= p.observation %></td>
		    	<% end %>
			</tr>
		</table>
	</div>
</div>
<div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
  Aqui vai ter o gráfico
</div>
