<div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
	<% if @animal.discard.nil? && @animal.female == true %>
		<%= link_to  I18n.t('productions.new.new'), new_production_path(animal_id: @animal.id), remote: true, class: 'btn btn-info' %>
	<% end %>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
	<div class="table-responsive">
		<table class="table table-striped table-hover table-condensed">
			<tr>
				<td><%= Production.human_attribute_name(:amount)%></td>
				<td><%= Production.human_attribute_name(:measurement)%></td>
				<td><%= Production.human_attribute_name(:observation)%></td>
			</tr>
			<% @productions.each do |p| %>
				<tr>
					<td><%= p.amount %></td>
					<td><%= p.measurement %></td>
					<td><%= p.observation %></td>
				</tr>
		    <% end %>
		</table>
		<%= paginate @productions, remote: true %>
	</div>
</div>
<div class="col-lg-5 col-md-4 col-sm-6 col-xs-12">
	<script type="text/javascript">
	$(function () {
	$.getJSON('https://www.highcharts.com/samples/data/jsonp.php?filename=usdeur.json&callback=?', function (data) {

			$('.graph_production').highcharts({
					chart: {
							zoomType: 'x'
					},
					title: {
							text: 'USD to EUR exchange rate over time'
					},
					subtitle: {
							text: document.ontouchstart === undefined ?
											'Click and drag in the plot area to zoom in' : 'Pinch the chart to zoom in'
					},
					xAxis: {
							type: 'datetime'
					},
					yAxis: {
							title: {
									text: 'Exchange rate'
							}
					},
					legend: {
							enabled: false
					},
					plotOptions: {
							area: {
									fillColor: {
											linearGradient: {
													x1: 0,
													y1: 0,
													x2: 0,
													y2: 1
											},
											stops: [
													[0, Highcharts.getOptions().colors[0]],
													[1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0).get('rgba')]
											]
									},
									marker: {
											radius: 2
									},
									lineWidth: 1,
									states: {
											hover: {
													lineWidth: 1
											}
									},
									threshold: null
							}
					},

					series: [{
							type: 'area',
							name: 'USD to EUR',
							data: data
					}]
			});
	});
});
	</script>
  <div class="graph_production">

  </div>
</div>
