<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @production.amount %>
</p>

<p>
  <strong>Measurement:</strong>
  <%= @production.measurement %>
</p>

<p>
  <strong>Observation:</strong>
  <%= @production.observation %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @production.animal %>
</p>

<%= link_to 'Edit', edit_production_path(@production) %> |
<%= link_to 'Back', productions_path %>
