<%= simple_form_for(@analysis) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :property, :collection => @property, :label_method => :name, :value_method => :id, include_blank: false %>
    <%= f.input :codeanalysis %>
    <%= f.input :collect, as: :date_picker %>
    <%= f.input :fat, as: :normal, before: "%" %>
    <%= f.input :protein, as: :normal, before: "%" %>
    <%= f.input :lactose, as: :normal, before: "%"  %>
    <%= f.input :totalsolids, as: :normal, before: "%"  %>
    <%= f.input :defattedextract, as: :normal, before: "%"  %>
    <%= f.input :css, as: :normal, before: "cm³"%>
    <%= f.input :scorecss, as: :normal, before: "cm³" %>
    <%= f.input :ufc, as: :normal, before: "cm³" %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
