<% breadcrumb :analyses %>
<div class="page-header">
  <%= link_to new_analysis_path, class: 'btn btn-primary pull-right' do %>
    <span class="fa fa-plus"></span>
    <%= I18n.t('crud.new') %>
  <% end %>
  <h3><%= Analysis.human_attribute_name(:analyses)%></h3>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
            <th>Property</th>
            <th>Codeanalysis</th>
            <th>Collect</th>
            <th>Fat</th>
            <th>Protein</th>
            <th>Lactose</th>
            <th>Totalsolids</th>
            <th>Defattedextract</th>
            <th>Css</th>
            <th>Scorecss</th>
            <th>Ufc</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @analyses) do |analysis| %>
            <td><%= analysis.property %></td>
            <td><%= analysis.codeanalysis %></td>
            <td><%= analysis.collect %></td>
            <td><%= analysis.fat %></td>
            <td><%= analysis.protein %></td>
            <td><%= analysis.lactose %></td>
            <td><%= analysis.totalsolids %></td>
            <td><%= analysis.defattedextract %></td>
            <td><%= analysis.css %></td>
            <td><%= analysis.scorecss %></td>
            <td><%= analysis.ufc %></td>
            <td>
          <%= link_to analysis, class: 'btn btn-sm btn-primary' do %>
            <i class="fa fa-eye"></i> <%= I18n.t('crud.show') %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_analysis_path(analysis), class: 'btn btn-sm btn-default' do %>
            <i class="fa fa-pencil"></i> <%= I18n.t('crud.edit') %>
          <% end %>
        </td>
        <td>
          <%= link_to analysis, method: :delete, data: { confirm: I18n.t('crud.destroy_confirmation') }, class: 'btn btn-sm btn-danger' do %>    
            <i class="fa fa-trash"></i> <%= I18n.t('crud.delete') %>
          <% end %>      
        </td>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @analyses %>
<br>
