<div class="page-header">
  <%= link_to analyses_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <% end %>
  <%= link_to edit_analysis_path(@analysis), class: 'btn btn-primary' do %>
    <span class="fa fa-pencil"></span>
    <%= I18n.t('crud.edit') %>
  <% end %>
    <%= link_to new_analysis_path, class: 'btn btn-primary' do %>
    <span class="fa fa-plus"></span>
    <%= I18n.t('analyses.new.new') %>
  <% end %>
  <h3><%= I18n.t('crud.show') %> <%= Analysis.human_attribute_name(:analysis) %></h3>
</div>
<div class="col-xs-12">
  <ul class="list-group">
    <li class="list-group-item">
      <strong><%= Analysis.human_attribute_name(:codeanalysis) %></strong>
      <%= @analysis.codeanalysis %>
    </li>
    <li class="list-group-item">
      <strong><%= Analysis.human_attribute_name(:collect) %></strong>
      <%= @analysis.collect %>
    </li>
    <li class="list-group-item">
      <strong><%= Analysis.human_attribute_name(:fat) %></strong>
      <%= number_to_currency(@analysis.fat, unit: "%", separator: ",", delimiter: ".", format: "%n %u") %>
    </li>
    <li class="list-group-item">
      <strong><%= Analysis.human_attribute_name(:protein) %></strong>
      <%= number_to_currency(@analysis.protein, unit: "%", separator: ",", delimiter: ".", format: "%n %u") %>
    </li>
    <li class="list-group-item">
      <strong><%= Analysis.human_attribute_name(:lactose) %></strong>
      <%= number_to_currency(@analysis.lactose, unit: "%", separator: ",", delimiter: ".", format: "%n %u") %>
    </li>
    <li class="list-group-item">
      <strong><%= Analysis.human_attribute_name(:totalsolids) %></strong>
      <%= number_to_currency(@analysis.totalsolids, unit: "%", separator: ",", delimiter: ".", format: "%n %u") %>
    </li>
    <li class="list-group-item">
      <strong><%= Analysis.human_attribute_name(:defattedextract) %></strong>
      <%= number_to_currency(@analysis.defattedextract, unit: "%", separator: ",", delimiter: ".", format: "%n %u") %>
    </li>
    <li class="list-group-item">
      <strong><%= Analysis.human_attribute_name(:css) %></strong>
      <%= number_to_currency(@analysis.css, unit: "x1000/cm³", separator: ",", delimiter: ".", format: "%n %u") %>
    </li>
    <li class="list-group-item">
      <strong><%= Analysis.human_attribute_name(:scorecss) %></strong>
      <%= number_to_currency(@analysis.scorecss, unit: "x1000/cm³", separator: ",", delimiter: ".", format: "%n %u") %>
    </li>
    <li class="list-group-item">
      <strong><%= Analysis.human_attribute_name(:ufc) %></strong>
      <%= number_to_currency(@analysis.ufc, unit: "x1000/cm³", separator: ",", delimiter: ".", format: "%n %u") %>
    </li>
  </ul>
</div>
