<p>
  <strong>Name:</strong>
  <%= @functionality.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @functionality.description %>
</p>

<p>
  <strong>Modulo:</strong>
  <%= @functionality.modulo.name %>
</p>

<%= link_to 'Edit', edit_functionality_path(@functionality), class: "btn btn-sm btn-default" %>
<%= link_to 'Back', :back, class: "btn btn-sm btn-default" %>
