<%= simple_form_for(@disease) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
      <%= f.input :VulgarName %>
      <%= f.input :CientificName %>
      <%= f.input :Causes %>
      <%= f.input :Description %>
      <%= f.input :Symptoms %>
  </div>
  <div class="form-actions">
      <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
