<%= simple_form_for(@animal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.input :description %>
    <%= f.input :female, as: :toogle %>
    <%= f.input :breed, collection: Animal.breeds.keys, as: :select, allow_blank: false %>
    <%# f.association :lot %>
    <%= f.association :property, collection: Property.where(user_id: current_user.id) , allow_blank: false %>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.association :reproduction, :label_method => lambda { |reproduction| "Parto: #{reproduction.parturition} - Mãe: #{reproduction.mother.code} #{reproduction.mother.name} - Pai: #{reproduction.father.code} #{reproduction.father.name}" } , :value_method => :id %>
    <%= f.input :discard, as: :date_picker, :include_blank => true  %>
    <%= f.input :reason_discard %>
  </div>


  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
<br>
