<%= simple_form_for(@animal) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :code %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :female %>
    <%= f.input :breed %>
    <%= f.association :lot %>
    <%# f.association :reproduction, :collection => @reproduction, :label_method => :parturition, :value_method => :id %>
    <%= f.association :reproduction, :label_method => :parturition, :value_method => :id %>
    <%= f.input :discard, :include_blank => true %>
    <%= f.input :reason_discard %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
<br>
