
<% breadcrumb :animals %>
    <div class="btn-group" role="group" aria-label="...">
        <%= link_to Animal.human_attribute_name(:todos), all_animals_path, class: "btn btn-default", remote: true %>
        <%= link_to Animal.human_attribute_name(:descartados), descartados_path, class: "btn btn-default", remote: true %>
        <%= link_to Animal.human_attribute_name(:novilhas), animals_path, class: "btn btn-default", remote: true %>
        <%= link_to Animal.human_attribute_name(:secas), stopped_path, class: "btn btn-default", remote: true %>
        <%= link_to Animal.human_attribute_name(:bezerros), animals_path, class: "btn btn-default", remote: true %>
    </div>
  <div class="page-header">
    <%= link_to new_animal_path, class: 'btn btn-primary pull-right' do %>
      <span class="fa fa-plus"></span>
      <%= I18n.t('animals.new.new') %>
    <% end %>
    <h3><%= Animal.human_attribute_name(:animals)%></h3>
  </div>
<div class="table-responsive" id="animal">
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th><%= Animal.human_attribute_name(:photo)%></th>
        <th><%= Animal.human_attribute_name(:code)%></th>
        <th><%= Animal.human_attribute_name(:name)%></th>
        <th><%= Animal.human_attribute_name(:description)%></th>
        <th><%= Animal.human_attribute_name(:breed)%></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @animals.each do |animal| %>
        <tr>
          <td><%= image_tag animal.photo.url(:thumb), class: "img-circle" %></td>
          <td><%= animal.code %></td>
          <td><%= animal.name %></td>
          <td><%= animal.description %></td>
          <td><%= animal.breed %></td>
          <td><%= link_to animal, class: "btn btn-sm btn-primary" do %>
            <i class="fa fa-eye"></i> <%= I18n.t('crud.show') %>
          <% end %>
          </td>
          <td><%= link_to edit_animal_path(animal), class: "btn btn-sm btn-default" do %>
            <i class="fa fa-pencil"></i> <%= I18n.t('crud.edit') %>
          <% end %>
          </td>
          <td><%= link_to animal,  method: :delete, data: { confirm: I18n.t('crud.destroy_confirmation') }, class: "btn btn-sm btn-danger" do %>
            <i class="fa fa-trash"></i> <%= I18n.t('crud.delete') %>
          <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%= paginate @animals %>
</div>
<br>
