<% breadcrumb :animal, @animal %>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"><%= image_tag @animal.photo.url(:medium), class: "img-rounded img-responsive" %></li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:code)%></strong>
        <%= @animal.code %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:name)%></strong>
        <%= @animal.name %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:description)%></strong>
        <%= @animal.description %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:weight)%></strong>
        <%= "#{@animal.developments.last.weight} Kg" unless @animal.developments.empty? %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:height)%></strong>
        <%= "#{@animal.developments.last.height} Cm" unless @animal.developments.empty? %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:breed)%></strong>
        <%= @animal.breed %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:lot)%></strong>
        <%= @animal.lot.name unless @animal.lot.nil? %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:property)%></strong>
        <%= @animal.property.name unless @animal.property.nil? %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:age)%></strong>
        <%= @animal.reproduction.age unless @animal.reproduction.nil? %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:mother)%></strong>
        <%= link_to @animal.reproduction.mother.name, @animal.reproduction.mother unless @animal.reproduction.nil? %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:father)%></strong>
        <%= link_to @animal.reproduction.father.name, @animal.reproduction.father unless @animal.reproduction.nil? %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:discard)%></strong>
        <%= @animal.discard %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:reason_discard)%></strong>
        <%= @animal.reason_discard %>
      </li>
      <li class="list-group-item">
        <%= link_to I18n.t('crud.edit'), edit_animal_path(@animal), class: "btn btn-default btn-sm" %>
        <%= link_to I18n.t('crud.back'), :back, class: "btn btn-default btn-sm" %>
      </li>
    </ul>
  </div>
    <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
      <div class="btn-group" role="group" aria-label="...">
        <% if @animal.female %>
          <%= link_to I18n.t('animals.show.production'), animal_production_path(id: @animal.id), class: 'btn btn-default', remote: true  %>
        <% end %>
        <%= link_to I18n.t('animals.show.illness'), animal_illness_path(id: @animal.id), class: 'btn btn-default', remote: true  %>
        <%= link_to I18n.t('animals.show.reproduction'), animal_reproduction_path(id: @animal.id), class: 'btn btn-default', remote: true  %>
        <%= link_to I18n.t('animals.show.diet'), animal_diet_path(id: @animal.id), class: 'btn btn-default', remote: true  %>
        <%= link_to I18n.t('animals.show.development'), animal_development_path(id: @animal.id), class: 'btn btn-default', remote: true  %>
      </div>
<!--       <div class="btn-group pull-right" role="group">
          <%= link_to "", excel_path(:xlsx), target: "blank", class: "fa fa-file-excel-o fa-2x btn btn-success btn-sm btn-outline" %>
          <%= link_to "", pdf_path(:pdf), target: "blank", class: "fa fa-file-pdf-o fa-2x btn btn-danger btn-sm btn-outline" %>
      </div> -->
    </div>
    <div id="animal_show">

    </div>
</div>
