<% breadcrumb :animal, @animal %>
<div class="row">
  <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"><%= image_tag @animal.photo.url(:medium), class: "img-rounded" %></li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:code)%></strong>
        <%= @animal.code %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:name)%></strong>
        <%= @animal.name %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:description)%></strong>
        <%= @animal.description %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:female)%></strong>
        <%= @animal.female %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:weight)%></strong>
        <%= @animal.developments.last.weight unless @animal.developments.empty? %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:height)%></strong>
        <%= @animal.developments.last.height unless @animal.developments.empty? %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:breed)%></strong>
        <%= @animal.breed %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:lot)%></strong>
        <%= @animal.lot.name unless @animal.lot.nil? %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:mother)%></strong>
        <%= @animal.reproduction.mother.name unless @animal.reproduction.nil? %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:father)%></strong>
        <%= @animal.reproduction.father.name unless @animal.reproduction.nil? %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:discard)%></strong>
        <%= @animal.discard %>
      </li>
      <li class="list-group-item">
        <strong><%= Animal.human_attribute_name(:reason_discard)%></strong>
        <%= @animal.reason_discard %>
      </li>
      <li class="list-group-item">
        <%= link_to I18n.t('crud.edit'), edit_animal_path(@animal), class: "btn btn-default btn-sm" %>
        <%= link_to I18n.t('crud.back'), :back, class: "btn btn-default btn-sm" %>
        <% if @animal.discard.nil? && @animal.female == true %>
          <%= link_to I18n.t('animals.show.reproduction'), new_reproduction_path(mother_id: @animal.id), class: "btn btn-default btn-sm" %>
        <% end %>
      </li>
    </ul>
  </div>
  <div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="btn-group" role="group" aria-label="...">
      <%= link_to I18n.t('animals.show.production'), animal_production_path(id: @animal.id), class: 'btn btn-default', remote: true  %>
        <button type="button" class="btn btn-default">Doenças</button>
        <%= link_to I18n.t('animals.show.reproduction'), animal_reproduction_path(id: @animal.id), class: 'btn btn-default', remote: true  %>
        <button type="button" class="btn btn-default">Alimentação</button>
        <%= link_to I18n.t('animals.show.development'), animal_development_path(id: @animal.id), class: 'btn btn-default', remote: true  %>
      </div>
    </div>
    <div id="animal_show">

    </div>
  </div>
</div>
