<%= simple_form_for(@development) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :weight %>
    <%= f.input :height %>
    <%= f.association :animal %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
<br>
