<div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
  <%= simple_form_for(@development, remote: true) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :weight, as: :normal, before: "Kg", class: "peso",:input_html => {value: number_with_precision(f.object.weight, precision: 2) } %>
      <%= f.input :height, as: :normal, before: "cm", class: "altura",:input_html => {value: number_with_precision(f.object.height, precision: 2) } %> 
      <%= f.association :animal, as: :hidden %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-success" %>
    </div>
  <% end %>
</div>
<br>
