<p>
  <strong><%= Modulo.human_attribute_name(:profile)%></strong>
  <%= @permission.profile.name %>
</p>

<p>
  <strong><%= Modulo.human_attribute_name(:functionality)%></strong>
  <%= @permission.functionality.name %>
</p>

<p>
  <strong><%= Modulo.human_attribute_name(:criar)%></strong>
  <%= @permission.criar %>
</p>

<p>
  <strong><%= Modulo.human_attribute_name(:ler)%></strong>
  <%= @permission.ler %>
</p>

<p>
  <strong><%= Modulo.human_attribute_name(:atualizar)%></strong>
  <%= @permission.atualizar %>
</p>

<p>
  <strong><%= Modulo.human_attribute_name(:deletar)%></strong>
  <%= @permission.deletar %>
</p>

<p>
  <strong><%= Modulo.human_attribute_name(:imprimir)%></strong>
  <%= @permission.imprimir %>
</p>


<%= link_to I18n.t('crud.edit'), edit_permission_path(@permission), class: "btn btn-sm btn-default" %>
<%= link_to I18n.t('crud.back'), :back, class: "btn btn-sm btn-default" %>

