<p>
  <strong>Create:</strong>
  <%= @permission.criar %>
</p>

<p>
  <strong>Read:</strong>
  <%= @permission.ler %>
</p>

<p>
  <strong>Update:</strong>
  <%= @permission.atualizar %>
</p>

<p>
  <strong>Delete:</strong>
  <%= @permission.deletar %>
</p>

<p>
  <strong>Print:</strong>
  <%= @permission.imprimir %>
</p>

<p>
  <strong>Profile:</strong>
  <%= @permission.profile.name %>
</p>

<p>
  <strong>Functionality:</strong>
  <%= @permission.functionality.name %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission), class: "btn btn-sm btn-default" %>
<%= link_to 'Back', :back, class: "btn btn-sm btn-default" %>
