<p id="notice"><%= notice %></p>

<p>
  <strong>Create:</strong>
  <%= @permission.create %>
</p>

<p>
  <strong>Read:</strong>
  <%= @permission.read %>
</p>

<p>
  <strong>Update:</strong>
  <%= @permission.update %>
</p>

<p>
  <strong>Delete:</strong>
  <%= @permission.delete %>
</p>

<p>
  <strong>Print:</strong>
  <%= @permission.print %>
</p>

<p>
  <strong>Modulo:</strong>
  <%= @permission.modulo %>
</p>

<p>
  <strong>Functionality:</strong>
  <%= @permission.functionality %>
</p>

<%= link_to 'Edit', edit_permission_path(@permission) %> |
<%= link_to 'Back', permissions_path %>
