<%= simple_form_for(@reproduction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :heat %>
    <%= f.input :insemination %>
    <%= f.input :regress %>
    <%= f.input :abortion %>
    <%= f.input :parturition %>
    <%= f.association :mother %>
    <%= f.association :father %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn btn-success" %>
  </div>
<% end %>
<br>
