<div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
        <% if @animal.discard.nil? && @animal.female == true && !@animal.reproductions.last.last_reproduction_active? %>
			      <%= link_to  I18n.t('reproductions.new.new'), new_reproduction_path(mother_id: @animal.id), remote: true, class: 'btn btn-info' %>
        <% end %>
	<div class="table-responsive">
		<table class="table table-striped table-hover table-condensed">
			<tr>
		      <td><%= Reproduction.human_attribute_name(:heat)%></td>
		      <td><%= Reproduction.human_attribute_name(:insemination)%></td>
		      <td><%= Reproduction.human_attribute_name(:regress)%></td>
		      <td><%= Reproduction.human_attribute_name(:abortion)%></td>
		      <td><%= Reproduction.human_attribute_name(:stop_breastfeeding)%></td>
		      <td><%= Reproduction.human_attribute_name(:parturition)%></td>
		      <% if @animal.female %>
		      		<td><%= Reproduction.human_attribute_name(:father)%></td>
			  	<% else %>
		      		<td><%= Reproduction.human_attribute_name(:mother)%></td>
				  <% end %>
        <td></td>
        <td></td>
			</tr>
			<% @reproductions.each do |r| %>
				<tr>
					<td><%= r.heat %></td>
					<td><%= r.insemination %></td>
					<td><%= r.regress %></td>
					<td><%= r.abortion %></td>
					<td><%= r.stop_breastfeeding %></td>
					<td><%= r.parturition %></td>
					<% if  @animal.female %>
						<td><%= r.father.name unless r.father.nil? %></td>
					<% else %>
						<td><%= r.mother.name unless r.mother.nil? %></td>
					<% end %>
		          <td>
		            <%= link_to reproduction_path(r), remote: true, class: "btn btn-sm btn-primary" do %>
		              <i class="fa fa-eye"></i> <%= I18n.t('crud.show') %>
		            <% end %>
		          </td>
		          <td>
                <% if @animal.reproductions.last.last_reproduction_active? && @animal.reproductions.last.id == r.id && @animal.female == true %>
  		            <%= link_to edit_reproduction_path(r), remote: true, class: "btn btn-sm btn-default" do %>
  		              <i class="fa fa-pencil"></i> <%= I18n.t('crud.edit') %>
  		            <% end %>
		            <% end %>
		          </td>
				</tr>
		    <% end %>
		</table>
		<%= paginate @reproductions, remote: true %>
	</div>
</div>
