<h3><%= Reproduction.human_attribute_name(:reproduction)%></h3>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th><%= Reproduction.human_attribute_name(:heat)%></th>
      <th><%= Reproduction.human_attribute_name(:insemination)%></th>
      <th><%= Reproduction.human_attribute_name(:regress)%></th>
      <th><%= Reproduction.human_attribute_name(:abortion)%></th>
      <th><%= Reproduction.human_attribute_name(:stop_breastfeeding)%></th>
      <th><%= Reproduction.human_attribute_name(:parturition)%></th>
      <th><%= Reproduction.human_attribute_name(:mother)%></th>
      <th><%= Reproduction.human_attribute_name(:father)%></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @reproductions.each do |reproduction| %>
      <tr>
        <td><%= reproduction.heat %></td>
        <td><%= reproduction.insemination %></td>
        <td><%= reproduction.regress %></td>
        <td><%= reproduction.abortion %></td>
        <td><%= reproduction.stop_breastfeeding %></td>
        <td><%= reproduction.parturition %></td>
        <td><%= reproduction.mother.name unless reproduction.mother.nil? %></td>
        <td><%= reproduction.father.name unless reproduction.father.nil? %></td>
        <td><%= link_to reproduction, class: "btn btn-sm btn-primary" do %>
          <i class="fa fa-eye"></i> <%= I18n.t('crud.show') %>
        <% end %>
        </td>
        <td><%= link_to edit_reproduction_path(reproduction), class: "btn btn-sm btn-default" do %>
          <i class="fa fa-pencil"></i> <%= I18n.t('crud.edit') %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
