<h3>Listing Reproductions</h3>
<%= link_to  new_reproduction_path, class: "btn btn-info pull-right" do %>
  <i class="fa fa-plus"></i> <%= I18n.t('crud.new') %>
<% end %>

<table class="table table-responsive table-striped">
  <thead>
    <tr>
      <th>Heat</th>
      <th>Insemination</th>
      <th>Regress</th>
      <th>Abortion</th>
      <th>Parturition</th>
      <th>Animal</th>
      <th>Animal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reproductions.each do |reproduction| %>
      <tr>
        <td><%= reproduction.heat %></td>
        <td><%= reproduction.insemination %></td>
        <td><%= reproduction.regress %></td>
        <td><%= reproduction.abortion %></td>
        <td><%= reproduction.parturition %></td>
        <td><%= reproduction.mother.name unless reproduction.mother.nil? %></td>
        <td><%= reproduction.father.name unless reproduction.father.nil? %></td>
        <td><%= link_to reproduction, class: "btn btn-sm btn-primary" do %>
          <i class="fa fa-eye"></i> <%= I18n.t('crud.show') %>
        <% end %>
        </td>
        <td><%= link_to edit_reproduction_path(reproduction), class: "btn btn-sm btn-default" do %>
          <i class="fa fa-pencil"></i> <%= I18n.t('crud.edit') %>
        <% end %>
        </td>
        <td><%= link_to reproduction,  method: :delete, data: { confirm: I18n.t('crud.destroy_confirmation') }, class: "btn btn-sm btn-danger" do %>
          <i class="fa fa-trash"></i> <%= I18n.t('crud.delete') %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
