<p id="notice"><%= notice %></p>

<p>
  <strong>Heat:</strong>
  <%= @reproduction.heat %>
</p>

<p>
  <strong>Insemination:</strong>
  <%= @reproduction.insemination %>
</p>

<p>
  <strong>Regress:</strong>
  <%= @reproduction.regress %>
</p>

<p>
  <strong>Abortion:</strong>
  <%= @reproduction.abortion %>
</p>

<p>
  <strong>Parturition:</strong>
  <%= @reproduction.parturition %>
</p>

<p>
  <strong>Animal:</strong>
  <%= @reproduction.mother.name unless @reproduction.mother.nil?%>
</p>

<p>
  <strong>Animal:</strong>
  <%= @reproduction.father.name unless @reproduction.father.nil?%>
</p>

<%= link_to 'Edit', edit_reproduction_path(@reproduction) %> |
<%= link_to 'Back', reproductions_path %>
