<%= simple_form_for(@stock) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :glebe, collection: Glebe.where(property_id: current_user.properties.ids) %>
    <%= f.association :feed %>
    <%= f.input :amount, as: :normal, before: "T", placeholder: "Valor em toneladas" %>
    <%= f.input :density, as: :normal, before: "Kg", placeholder: "Kg por M³" %>
    <%= f.input :datestock, as: :date_time_picker  %>
    <%= f.input :datestart, as: :date_time_picker %>
    <%= f.input :dateend, as: :date_time_picker %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
