<% breadcrumb :pasteurs %>
<div class="page-header">
  <%= link_to new_pasteur_path, class: 'btn btn-primary pull-right' do %>
    <span class="fa fa-plus"></span>
    <%= I18n.t('crud.new') %>
  <% end %>
  <h3><%= Stock.human_attribute_name(:pasteurs)%></h3>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
            <th><%= Stock.human_attribute_name(:feed)%></th>
            <th><%= Stock.human_attribute_name(:glebe)%></th>
            <th><%= Stock.human_attribute_name(:amount)%></th>
            <th><%= Stock.human_attribute_name(:densitypasteur)%></th>
            <th><%= Stock.human_attribute_name(:datepasteur)%></th>
            <th><%= Stock.human_attribute_name(:datestartpasteur)%></th>
            <th><%= Stock.human_attribute_name(:dateendpasteur)%></th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @stocks) do |stock| %>
            <td><%= stock.feed.name %></td>
            <td><%= stock.glebe.nil? ? "" : stock.glebe.name%></td>
            <td><%= stock.amount %> T</td>
            <td><%= stock.density %> Kg/M³</td>
            <td><%= stock.datestock %></td>
            <td><%= stock.datestart %></td>
            <td><%= stock.dateend %></td>
            <td>
          <%= link_to pasteur, class: 'btn btn-sm btn-primary' do %>
            <i class="fa fa-eye"></i> <%= I18n.t('crud.show') %>
          <% end %>
        </td>
        <td>
          <% if stock.inactive? %>
            <%= link_to edit_pasteur_path(stock), class: 'btn btn-sm btn-default' do %>
              <i class="fa fa-pencil"></i> <%= I18n.t('crud.edit') %>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to pasteur, method: :delete, data: { confirm: I18n.t('crud.destroy_confirmation') }, class: 'btn btn-sm btn-danger' do %>    
            <i class="fa fa-trash"></i> <%= I18n.t('crud.delete') %>
          <% end %>      
        </td>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @stocks %>
<br>
