<div class="page-header">
  <%= link_to batches_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <% end %>
  <%= link_to edit_batch_path(@batch), class: 'btn btn-primary' do %>
    <span class="fa fa-pencil"></span>
    <%= I18n.t('crud.edit') %>
  <% end %>
  <h3><%= I18n.t('crud.show') %> batch</h3>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Name:</strong>
      <%= @batch.name %>
    </li>
    <li class="list-group-item">
      <strong>Observation:</strong>
      <%= @batch.observation %>
    </li>
    <li class="list-group-item">
      <strong>Type:</strong>
      <%= @batch.type %>
    </li>
    <li class="list-group-item">
      <strong>Formation:</strong>
      <%= @batch.formation %>
    </li>
    <li class="list-group-item">
      <strong>Glebe:</strong>
      <%= @batch.glebe %>
    </li>
  </ul>
</div>
