<p>
  <strong>Name:</strong>
  <%= @lot.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @lot.description %>
</p>

<p>
  <strong>Property:</strong>
  <%= @lot.property.name %>
</p>

<%= link_to 'Edit', edit_lot_path(@lot), class: "btn btn-sm btn-default" %>
<%= link_to 'Back', :back, class: "btn btn-sm btn-default" %>
