<div class="page-header">
  <%%= link_to new_financial_path(<%= controller_name.singularize %>_id: @<%=  controller_name.singularize %>.id), class: 'btn btn-primary pull-right', remote: true do %>
    <span class="fa fa-plus"></span>
    <%= I18n.t('financials.new.new') %>
  <%% end %>
  <h3><%= Financial.human_attribute_name(:financials)%></h3>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Descrição</th>
        <th>Valor</th>
        <th>Operação</th>
        <th>Data</th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @financials) do |financial| %>
            <td><%= financial.description %></td>
            <td><%= financial.value %></td>
            <td><%= financial.operation %></td>
            <td><%= financial.datetransaction %></td>
      <% end %>
    </tbody>
  </table>
</div>
<br>
