<% breadcrumb :financials %>
<div class="page-header">
  <%= link_to new_financial_path, class: 'btn btn-primary pull-right btn-margin' do %>
    <span class="fa fa-plus"></span>
    <%= I18n.t('crud.new') %>
  <% end %>
  <%= link_to shipment_financial_path, remote: true, data: { 'toggle' => 'modal', 'target' => '#modal' }, class: 'btn btn-primary pull-right btn-margin' do %>
    <span class="fa fa-tint"></span>
    <%= Financial.human_attribute_name(:shipment)%>
  <% end %>
  <%= link_to close_financial_path, remote: true, data: { 'toggle' => 'modal', 'target' => '#modal' }, class: 'btn btn-primary pull-right btn-margin' do %>
    <span class="fa fa-money"></span>
    <%= Financial.human_attribute_name(:close)%>
  <% end %>

  <h3><%= Financial.human_attribute_name(:financials)%></h3>
</div>

<div class="table-responsive">
  <table class="table table-striped table-hover table-condensed">
    <thead>
      <tr>
            <th><%= Financial.human_attribute_name(:value)%></th>
            <th><%= Financial.human_attribute_name(:datetransaction)%></th>
            <th><%= Financial.human_attribute_name(:operation)%></th>
            <th><%= Financial.human_attribute_name(:description)%></th>
            <th><%= Financial.human_attribute_name(:relation)%></th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @financials) do |financial| %>
            <td><%= number_to_currency(financial.value, unit: "R$", separator: ",", delimiter: ".") %></td>
            <td><%= financial.datetransaction %></td>
            <td><%= financial.operation %></td>
            <td><%= financial.description %></td>
            <td>              
              <%= financial.animal.name unless financial.animal.nil? %>
              <%= financial.service.name unless financial.service.nil? %>
              <%= financial.employee.name unless financial.employee.nil? %>
              <%= financial.reproduction.name unless financial.reproduction.nil? %>
              <%= financial.stock.name unless financial.stock.nil? %>
              <%= financial.treatment.name unless financial.treatment.nil? %>
              <%= financial.schedule.name unless financial.schedule.nil? %>
              <% unless financial.shipments.nil? %>
              Quantidade de litros: <%= number_to_currency(financial.shipments.sum(:amount), unit: "L", separator: ",", delimiter: ".", format: "%n %u") %>
                (
                <% financial.shipments.each do |s| %>
                 <%= link_to s.id, s %>
                <% end %>
                )
              <% end %>
            </td>
            <td>
          <%= link_to financial, class: 'btn btn-sm btn-primary' do %>
            <i class="fa fa-eye"></i> <%= I18n.t('crud.show') %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_financial_path(financial), class: 'btn btn-sm btn-default' do %>
            <i class="fa fa-pencil"></i> <%= I18n.t('crud.edit') %>
          <% end %>
        </td>
        <td>
          <%= link_to financial, method: :delete, data: { confirm: I18n.t('crud.destroy_confirmation') }, class: 'btn btn-sm btn-danger' do %>    
            <i class="fa fa-trash"></i> <%= I18n.t('crud.delete') %>
          <% end %>      
        </td>
      <% end %>
    </tbody>
  </table>
</div>
<%= paginate @financials %>
<br>
