<div class="col-xs-12">
  <ul class="list-group">
    <li class="list-group-item">
      <strong><%= Financial.human_attribute_name(:value)%></strong>
      <%=  number_to_currency(@financial.value, unit: "R$", separator: ",", delimiter: ".")  %>
    </li>
    <li class="list-group-item">
      <strong><%= Financial.human_attribute_name(:datetransaction)%></strong>
      <%= @financial.datetransaction %>
    </li>
    <li class="list-group-item">
      <strong><%= Financial.human_attribute_name(:operation)%></strong>
      <%= @financial.operation %>
    </li>
    <li class="list-group-item">
      <strong><%= Financial.human_attribute_name(:description)%></strong>
      <%= @financial.description %>
    </li>
    <% unless @financial.animal.nil? %>
      <li class="list-group-item">
        <strong><%= Financial.human_attribute_name(:animal)%></strong>
        <%= @financial.animal.name %>
      </li>
    <% end %>
    <% unless @financial.service.nil? %>
      <li class="list-group-item">
        <strong><%= Financial.human_attribute_name(:service)%></strong>
        <%= @financial.service.name %>
      </li>
    <% end %>
    <% unless @financial.employee.nil? %>
      <li class="list-group-item">
        <strong><%= Financial.human_attribute_name(:employee)%></strong>
        <%= @financial.employee.name %>
      </li>
    <% end %>
    <% unless @financial.reproduction.nil? %>
      <li class="list-group-item">
        <strong><%= Financial.human_attribute_name(:reproduction)%></strong>
        <%= @financial.reproduction.name %>
      </li>
    <% end %>
    <% unless @financial.stock.nil? %>
      <li class="list-group-item">
        <strong><%= Financial.human_attribute_name(:stock)%></strong>
        <%= @financial.stock.name %>
      </li>
    <% end %>
    <% unless @financial.treatment.nil? %>
      <li class="list-group-item">
        <strong><%= Financial.human_attribute_name(:treatment)%></strong>
        <%= @financial.treatment.name %>
      </li>
    <% end %>

    <% unless @financial.schedule.nil? %>
      <li class="list-group-item">
        <strong><%= Financial.human_attribute_name(:schedule)%></strong>
        <%= @financial.schedule.name %>
      </li>
    <% end %>
    <% unless @financial.shipments.empty? %>
      <li class="list-group-item">
        <strong>Quantidade de litros:</strong>
        <%= number_to_currency(@financial.shipments.sum(:amount), unit: "L", separator: ",", delimiter: ".", format: "%n %u") %>
      </li>

      <li class="list-group-item">
      <strong>
        Relação com entregas de leite
      </strong>
        <% @financial.shipments.each do |s| %>
         <%= link_to "#{s.id} (#{number_to_currency(s.amount, unit: "L", separator: ",", delimiter: ".", format: "%n %u")})", s %>
        <% end %>
      </li>
      <li class="list-group-item">
      <% valor_litro = @financial.value/ @financial.shipments.sum(:amount)%>
      <strong>Valor pago pelo litro de leite:</strong>
        <%= number_to_currency(valor_litro, unit: "R$", separator: ",", delimiter: ".") %>
      </li>
    <% end %>
  </ul>
</div>
