<div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
  <%= simple_form_for(@diet, remote: true) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :amount,as: :normal, before: "Kg" %>
      <%= f.input :datestart, as: :date_time_picker %>
      <%= f.input :dateend, as: :date_time_picker %>
      <%= f.association :animal, as: :hidden %>
      <%= f.association :stock, :collection => @stocks, label_method: "#{:name}", :value_method => :id, include_blank: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
<br>