
<div id="m_1431738521701901139content" align="center" style="margin:0px;padding:10px 0px;width:100%!important;background:#e0e4e6;font-family:sans-serif,Avenir,'Segoe UI',Helvetica,Arial">
  <table style="font-weight:normal;text-align:left;vertical-align:top;border-collapse:collapse;border-spacing:0;background:#fff;max-width:600px;width:100%;padding:5px;display:block;border-radius:5px">
    <tbody><tr>
      <td>
        <table style="color:#505050">
          <tbody><tr>
            <td style="height:12px;text-align:right;padding-top:2px;padding-right:12px;font-size:12px">
              <%= Time.now.to_s %>
            </td>
          </tr>
          <tr>
            <td style="width:600px">
              <h2 align="center" style="margin-top:5px;font-size:1.5em">
            	<%= t('.greeting', :recipient => @resource.email, :default => "Hello #{@resource.email}!") %>
              </h2>
            </td>
          </tr>  
              <tr>
            <td style="width:600px;padding:0px 10px">
              <hr style="border:0;background:#d5dee4;clear:both;min-height:1px;margin:0 0 15px 0">
            </td>
          </tr>
          </tbody>
        </table>

          <p style="font-size:11px;padding-left:15px">
            * Você está recebendo este email pois está cadastrado no sistema Vitula
          </p>
          
          <table>
            <tbody><tr>
              <td height="5" colspan="2" style="min-width:210px;width:600px;text-align:left;padding-left:15px">
                <span style="font-weight:bold">
                  Ação:
                </span>
                <span>       	
					<p><%= t('.instruction', :default => "Someone has requested a link to change your password, and you can do this through the link below.") %></p>

					<p><%= link_to t('.action', :default => "Change my password"), edit_password_url(@resource, :reset_password_token => @token, locale: I18n.locale) %></p>

					<p><%= t('.instruction_2', :default => "If you didn't request this, please ignore this email.") %></p>
					
					<p><%= t('.instruction_3', :default => "Your password won't change until you access the link above and create a new one.") %></p>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
        <table style="border-radius:0 0 5px 5px">
          <tbody><tr>
            <td style="width:600px;padding:0px 10px">
                <hr style="border:0;background:#d5dee4;clear:both;min-height:1px;margin:15px 0 5px 0">
            </td>
            </tr>
            <tr>
              <td id="m_1431738521701901139footer" align="left" style="font-size:11px;padding-left:12px">
                <p style="margin:0;padding:0;line-height:150%;color:#454a4c;font-size:11px">
                  <strong style="font-weight:700;color:#454a4c;font-size:11px">©2017 - Vitula</strong><br>
                  <br>
                  <span style="color:#855b5b">
                      Este é um e-mail automatizado, favor não responder.
                  </span>
                </p>
              </td>
            </tr>
          </tbody>
        </table>
      </td></tr>
    </tbody>
  </table>
</div>