<div class="page-header">
  <%= link_to batchanimals_path, class: 'btn btn-default' do %>
    <span class="fa fa-chevron-left"></span>
    <%= I18n.t('crud.back') %>
  <% end %>
  <%= link_to edit_batchanimal_path(@batchanimal), class: 'btn btn-primary' do %>
    <span class="fa fa-pencil"></span>
    <%= I18n.t('crud.edit') %>
  <% end %>
  <h3><%= I18n.t('crud.show') %> batchanimal</h3>
</div>
<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
  <ul class="list-group">
    <li class="list-group-item">
      <strong>Animal:</strong>
      <%= @batchanimal.animal %>
    </li>
    <li class="list-group-item">
      <strong>Batch:</strong>
      <%= @batchanimal.batch %>
    </li>
  </ul>
</div>
