<div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
  <%= simple_form_for(@glebe, remote: true) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :purpose, collection: Glebe.purposes.keys, as: :select, allow_blank: true %>
      <%= f.input :area, as: :ha %>
      <%= f.input :inactive, as: :toogle %>
      <%= f.association :property, as: :hidden %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, class: "btn btn-success" %>
    </div>
  <% end %>
</div>
<br>
