<div class="col-lg-9 col-md-8 col-sm-6 col-xs-12">
    <%= link_to  I18n.t('glebes.new.new'), new_gleb_path(property_id: @property.id), remote: true, class: 'btn btn-info' %>
</div>
<div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
  <div class="table-responsive">
    <table class="table table-striped table-hover table-condensed">
      <tr>
        <td><%= Glebes.human_attribute_name(:name)%></td>
        <td><%= Glebes.human_attribute_name(:purpose)%></td>
        <td><%= Glebes.human_attribute_name(:area)%></td>
        <td></td>
        <td></td>
      </tr>
      <% @glebes.each do |g| %>
        <tr>
          <td><%= g.name %></td>
          <td><%= g.purpose %></td>
          <td><%= g.area %></td>
          <td><%= link_to 'Edit', edit_glebe_path(glebe) %></td>
          <td><%= link_to 'Destroy', glebe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
        <% end %>
    </table>
    <%= paginate @glebes, remote: true %>
  </div>
</div>

<p id="notice"><%= notice %></p>

<h1>Listing Glebes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Purpose</th>
      <th>Area</th>
      <th>Property</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @glebes.each do |glebe| %>
      <tr>
        <td><%= glebe.name %></td>
        <td><%= glebe.purpose %></td>
        <td><%= glebe.area %></td>
        <td><%= glebe.property %></td>
        <td><%= link_to 'Show', glebe %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Glebe', new_glebe_path %>
