<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @glebe.name %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @glebe.purpose %>
</p>

<p>
  <strong>Area:</strong>
  <%= @glebe.area %>
</p>

<p>
  <strong>Property:</strong>
  <%= @glebe.property %>
</p>

<%= link_to 'Edit', edit_glebe_path(@glebe) %> |
<%= link_to 'Back', glebes_path %>
