<!DOCTYPE html>
<html>
<head>
  <title>Vitula</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path, class: "navbar-brand" do %>
        <img src="/images/brand/vitula_logo.png" alt="Vitula">
      <% end %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <% if current_user.has_property? %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= Animal.human_attribute_name(:animal)%><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to Animal.human_attribute_name(:animals), animals_path %></li>
              <li><%= link_to Animal.human_attribute_name(:donors), donors_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Leite<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to Production.human_attribute_name(:productions), productions_path %></li>
              <li><%= link_to Shipment.human_attribute_name(:shipments), shipments_path %></li>
              <li><%= link_to Analysis.human_attribute_name(:analysis), analyses_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= Animal.human_attribute_name(:feeds) %><span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to Stock.human_attribute_name(:stocks), stocks_path %></li>
              <li><%= link_to Stock.human_attribute_name(:pasteurs), pasteurs_path %></li>
              <li><%= link_to Feed.human_attribute_name(:feeds), feeds_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sanidade<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to Disease.human_attribute_name(:diseases), diseases_path %></li>
              <li><%= link_to Drug.human_attribute_name(:drugs), drugs_path %></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Contábil<span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Entradas", nil %></li>
              <li><%= link_to "Saídas", nil %></li>
            </ul>
          </li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= Property.human_attribute_name(:properties) %><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to Property.human_attribute_name(:properties), properties_path %></li>
            <li><%= link_to Lot.human_attribute_name(:lots), lots_path %></li>
            <li><%= link_to "Procedimento", lots_path %></li>
            <li><%= link_to "Serviço", lots_path %></li>
            <li><%= link_to Employee.human_attribute_name(:employees), employees_path %></li>
            <li><%= link_to Bin.human_attribute_name(:bins), bins_path %></li>
          </ul>
        </li>
        <li>
          <%= link_to notifications_path, class: "fa fa-bell fa-menu" do %>
            <% unless @notification_count == 0 %> 
              <span class="badge badge-message badge-danger">
                <%= @notification_count %>
              </span>
            <% end %>
        <% end %>
      </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle profile" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= image_tag current_user.avatar.url(:thumb), class: "img-circle" %><%= current_user.name %> <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to Profile.human_attribute_name(:profiles), profiles_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "Editar perfil", edit_user_registration_path %></li>
            <li><%= link_to "Sair", destroy_user_session_path %></li>
          </ul>
        </li>
        <% end %>
        <% unless user_signed_in? %>
          <li><%= link_to "Registrar-se", new_user_registration_path %></li>
          <li><%= link_to "Entrar", user_session_path %></li>
        <% end %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container-fluid">
  <% if notice %>
      <script>
        alertify.success("<%= notice %>");
      </script>
  <% end %>
  <% if alert %>
      <script>
        alertify.error("<%= alert %>");
      </script>
  <% end %>

  <%= breadcrumbs style: :bootstrap %>
  
	<%= yield %>

</div>
</body>
</html>
